In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
df= pd.read_csv("../datasets brutos/dataset_sudeste_realista_outliers-1k.csv")

In [3]:
df.head()

   id  idade     renda          cidade categoria  nota feedback
0   1   47.0  19142.87  Rio de Janeiro         A   6.7      Bom
1   2   71.0  12223.92  Belo Horizonte         B   5.2      Bom
2   3   63.0  30367.01       São Paulo         B   7.7      Bom
3   4   86.0   1302.50       São Paulo         A   4.0      Bom
4   5   26.0  25154.53  Belo Horizonte         A   6.9      Bom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         1000 non-null   int64
 1   idade      989 non-null    float64
 2   renda      990 non-null    float64
 3   cidade     992 non-null    object
 4   categoria  988 non-null    object
 5   nota       990 non-null    float64
 6   feedback   960 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 54.8+ KB

In [5]:
df.describe()

                id       idade         renda        nota
count  1000.000000  989.000000    990.000000  990.000000
mean    500.500000   49.254803  23676.391303    7.433030
std     288.819436   19.363605  13360.810448    1.519156
min       1.000000    6.000000    613.850000    0.100000
25%     250.750000   33.000000  11559.795000    6.100000
50%     500.500000   49.000000  23723.395000    7.400000
75%     750.250000   66.000000  34942.752500    8.775000
max    1000.000000   97.000000  65635.270000   10.000000

In [6]:
Q1 = df['renda'].quantile(0.25)
Q3 = df['renda'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

In [7]:
print (f"\n\n\t IQR - Campo Renda\n\n")
print(f"Quartis -> Q1: {Q1:-8.2f}  ->  Q3: {Q3:-8.2f}")
print(f"IQR ----- {IQR}")
print(f"Limites - Inf: {limite_inferior:-8.2f}  -> Sup: {limite_superior:-8.2f}")
print(f"\n\n")

	 IQR - Campo Renda


Quartis -> Q1: 11559.80  ->  Q3: 34942.75
IQR ----- 23382.957500000004
Limites - Inf: -23514.64  -> Sup: 70017.19

In [8]:
outliers = df[(df['renda'] < limite_inferior) | (df['renda'] > limite_superior)]
print(f"\n### Possíveis outliers em 'renda' ###\n\n{outliers}\n")

### Possíveis outliers em 'renda' ###

Empty DataFrame
Columns: [id, idade, renda, cidade, categoria, nota, feedback]
Index: []

In [9]:
print(df.isnull().sum())

id            0
idade        11
renda        10
cidade        8
categoria    12
nota         10
feedback     40
dtype: int64

In [10]:
mean_idade = df['idade'].mean()
mean_renda = df['renda'].mean()
mean_nota = df['nota'].mean()

In [11]:
print(f"Mediada das Idades {mean_idade}")
print(f"Mediada das Notas {mean_nota}")
print(f"Valor médio das Rendas {mean_renda} - {mean_renda:.2f}")

Mediada das Idades 49.25480283114257
Mediada das Notas 7.4330303030303035
Valor médio das Rendas 23676.391303030305 - 23676.39

In [12]:
df['idade'] = df['idade'].fillna(mean_idade)
df['nota'] = df['nota'].fillna(mean_nota)
df['renda'] = df['renda'].fillna(mean_renda)

In [13]:
print(df.isnull().sum())

id            0
idade         0
renda         0
cidade        8
categoria    12
nota          0
feedback     40
dtype: int64

In [14]:
df['cidade'] = df['cidade'].fillna("Desconhecido")
df['feedback'] = df['feedback'].fillna("Desconhecido")
df['categoria'] = df['categoria'].fillna("Desconhecido")

In [15]:
print(df.isnull().sum())

id           0
idade        0
renda        0
cidade       0
categoria    0
nota         0
feedback     0
dtype: int64

In [16]:
df.to_csv('dataset_sudeste_realista_outliers-1k-limpo.csv', index=False)