In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler

In [2]:
df= pd.read_csv("../datasets brutos/dataset_sudeste_realista_outliers-2k.csv")

In [3]:
df.head()

   id  idade     renda          cidade categoria  nota feedback
0   1   39.0  35157.99  Rio de Janeiro         A   6.1      Bom
1   2   63.0   5500.66  Rio de Janeiro         B   7.2      Bom
2   3   30.0  20004.05         Vitória         A   7.6      Bom
3   4   50.0  37078.59         Vitória         B   5.9      Bom
4   5   69.0  43751.21         Vitória         B   9.5      Bom

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         2000 non-null   int64
 1   idade      1979 non-null   float64
 2   renda      1984 non-null   float64
 3   cidade     1978 non-null   object
 4   categoria  1983 non-null   object
 5   nota       1979 non-null   float64
 6   feedback   1926 non-null   object
dtypes: float64(3), int64(1), object(3)
memory usage: 109.5+ KB

In [5]:
df.describe()

                id        idade         renda         nota
count  2000.000000  1979.000000   1984.000000  1979.000000
mean   1000.500000    48.472966  24117.562757     7.436635
std     577.494589    20.156382  13463.354416     1.549939
min       1.000000     1.000000    476.210000     0.100000
25%     500.750000    31.000000  12481.857500     6.200000
50%    1000.500000    48.000000  23548.310000     7.500000
75%    1500.250000    66.000000  35705.365000     8.700000
max    2000.000000   118.000000  84390.130000    10.000000

In [6]:
Q1 = df['renda'].quantile(0.25)
Q3 = df['renda'].quantile(0.75)
IQR = Q3 - Q1
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

In [7]:
print (f"\n\n\t IQR - Campo Renda\n\n")
print(f"Quartis -> Q1: {Q1:-8.2f}  ->  Q3: {Q3:-8.2f}")
print(f"IQR ----- {IQR}")
print(f"Limites - Inf: {limite_inferior:-8.2f}  -> Sup: {limite_superior:-8.2f}")
print(f"\n\n")

	 IQR - Campo Renda


Quartis -> Q1: 12481.86  ->  Q3: 35705.36
IQR ----- 23223.5075
Limites - Inf: -22353.40  -> Sup: 70540.63

In [8]:
outliers = df[(df['renda'] < limite_inferior) | (df['renda'] > limite_superior)]
print(f"\n### Possíveis outliers em 'renda' ###\n\n{outliers}\n")

### Possíveis outliers em 'renda' ###

        id  idade     renda          cidade categoria  nota feedback
102    103    1.0  84390.13  Belo Horizonte         B   4.0      Bom
1458  1459  113.0  83594.82       São Paulo         A   2.1      Bom
1536  1537    1.0  83957.99       São Paulo         B   0.1      Bom

In [9]:
print(df.isnull().sum())

id            0
idade        21
renda        16
cidade       22
categoria    17
nota         21
feedback     74
dtype: int64

In [11]:
mean_idade = df['idade'].mean()
mean_renda = df['renda'].mean()
mean_nota = df['nota'].mean()

print(f"Mediada das Idades {mean_idade}")
print(f"Mediada das Notas {mean_nota}")
print(f"Valor médio das Rendas {mean_renda} - {mean_renda:.2f}")

Mediada das Idades 48.472966144517436
Mediada das Notas 7.436634663971703
Valor médio das Rendas 24117.56275705645 - 24117.56

In [12]:
df['idade'] = df['idade'].fillna(mean_idade)
df['nota'] = df['nota'].fillna(mean_nota)
df['renda'] = df['renda'].fillna(mean_renda)

In [13]:
print(df.isnull().sum())

id            0
idade         0
renda         0
cidade       22
categoria    17
nota          0
feedback     74
dtype: int64

In [14]:
df['cidade'] = df['cidade'].fillna("Desconhecido")
df['feedback'] = df['feedback'].fillna("Desconhecido")
df['categoria'] = df['categoria'].fillna("Desconhecido")

In [15]:
print(df.isnull().sum())

id           0
idade        0
renda        0
cidade       0
categoria    0
nota         0
feedback     0
dtype: int64

In [19]:
df.to_csv('dataset_sudeste_realista_outliers-2k-limpo.csv', index=False)